/* branding.css */

#description {
    display: flex;
    flex-direction: column;
    gap: var(--device-corner-radius);
    margin: var(--padding);
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: calc(100% - var(--padding) * 2);
}

#browser {
    text-align: center;
}

/* portrait */
@media (max-aspect-ratio: 1/1) {
}

/* landscape */
@media (min-aspect-ratio: 1/1) {
}
