/* branding.css */

#oo1_logo {
    width: 30vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#oo1_text {
    background-color: white;
    color: black;
    position: absolute;
    font-family: var(--vga-font), mono;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1rem;
    padding: var(--line-size--regular);
    border-radius: 8px;
    margin: var(--line-size--regular);
    border: 2px black dotted;
}
#marcinlowercase_link {
    color: blue;
    text-decoration: none;
}
#oo1_link {
    text-decoration: none;
    color: red;
}
