/* index.css */

@font-face {
    font-family: "vga";
    src: url("../data/font/perfect_dos_vga_437.ttf") format("truetype");
}

@font-face {
    font-family: "courier_code";
    src: url("../data/font/courier_code.ttf") format("truetype");
}

:root {
    --sans-font: "Outfit", sans-serif;
    --serif-font: "Noto Serif", serif;
    --mono-font: "courier-code", monospace;
    --vga-font: "vga", monospace;

    /* --font-size--xl: 32px;
  --font-size--l: 24px;
  --font-size--m: 20px;
  --font-size--s: 16px;
  --font-size--xs: 12px; */
    --font-size--xl: 2em;
    --font-size--l: 1.5em;
    --font-size--m: 1.25em;
    --font-size--s: 1em;
    --font-size--xs: 0.75em;

    --line-size--thick: 12px;
    --line-size--regular: 8px;
    --line-size--thin: 4px;

    --border-radius--regular: 24px;
}

body {
    /*cursor: grabbing;*/
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.5s;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by most modern browsers */
}
@media (max-width: 768px) {
    div {
        -webkit-tap-highlight-color: transparent;
        touch-action: manipulation;
        cursor: pointer;
    }
}
